<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/" class="header-logo">To Do List</a>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Add Schedule</h1>
    </div>
    <div class="item-form-wrapper">
      <p class="form-label">Apa Kegiatan anda</p>
      <form action="/create" method="POST">
        <input type="text" name="itemDesc" required placeholder="Input Decription...">
        <input type="submit" name="" id="" value="Save">
      </form>
      <a href="/index" class="cancel-button">Back</a>
    </div>
  </div>
</body>

</html>