<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/" class="header-logo">To Do List</a>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Edit Schedule</h1>
      <a href="/index" class="cancel-button">Cancel</a>
    </div>
    <div class="item-form-wrapper">
      <p class="form-label">Schedule</p>
      <form action="/update/<%= item.id %> " method="POST">
        <input type="text" value="<%= item.description %> " name="itemDesc" autofocus required>
        <input type="submit" value="Update">
      </form>
    </div>
  </div>
</body>

</html>