<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App To Do List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <a href="/" class="header-logo">To Do List</a>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Schedules List</h1>
      <a href="/add" class="new-button">+ ADD</a>
    </div>
    <div class="index-table-wrapper">
      <div class="table-head">
        <span class="id-column">ID</span>
        <span>Schedules</span>
      </div>
      <ul class="table-body">
        <% schedules.forEach((schedule) => { %>
        <li>
          <div class="item-data">
            <span class="id-column"><%= schedule.id%> </span>
            <span class="name-column"><%= schedule.description %> </span>
          </div>
          <div class="item-menu">
            <form action="" method="POST">
              <input type="submit" value="Delete">
            </form>
            <a href="#">Edit</a>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>

</html>