<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App To Do List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="top-wrapper">
    <div class="top-detail">
      <h2 class="subtitle">CRUD App</h2>
      <h1 class="title">To Do List</h1>
      <p class="description">
        List dapat menambahkan, meng-edit, dan menghapus daftar list catatan kegiatan anda. <br>
        Tambahkan daftar kegiatan yang akan anda lakukan, supaya tidak lupa.
      </p>
      <a href="/index" class="index-button">Lihat Daftar</a>
    </div>
    <div class="top-image">
      <img src="/images/top.png" alt="Logo">
    </div>
  </div>
</body>

</html>